body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFC3C3;
  position: relative;
  width: 700px;
  height: 100%;
  margin: 80px auto;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C81D77", endColorstr="#6710C2", GradientType=1 );
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  background: #EF9F9F;
  border: 1px solid white;
  display: block;
  position: relative;
  margin: 20px auto;
  padding: 10px;
  border-radius: 15px;
}

button {
  background: #FAD4D4;
  position: relative;
  border: 1px solid white;
  margin: 20px 105px;
  padding: 10px;
  width: 50%;
  border-radius: 15px;
}


h1 {
  text-align: center;
  font-family: "Fire Sans";
}

.container {
  margin: 9% auto;
  margin-left: 14%;
  padding: 65px;
  background-color: #FAD4D4;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#95ECB0", endColorstr="#F3F98A", GradientType=1 );
    margin: 80px auto;
    padding: 40px;
    width: 60%;
    min-width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: block;

}

.form {
  
box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.2), 0 40px 40px 0 rgba(0, 0, 0, 0.24);
width: 100%;
height: 100%;
/* border: 1px solid #DDD; */
display: inline-block;
/* -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); */
border: 1px solid White;

} 

/* .container .form div {
  margin: 10% 0;
  display: none;
  
} */

button {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  color: Black;
  font-weight: bold;
  
  background: #EF9F9F;

}